@{
    ViewData["Title"] = "The Joel Hilton Film Collection";
}

<div class="text-center">
    <h3>Get ready to explore...</h3>
    <h1>The Joel Hilton Film Collection!!!</h1>

    <br />
    <img src="~/img/JoelHiltonHeadshot.jpg" height="400" />
</div>
<br />
<br />
<br />
